<div class="slider w-full fixed z-30 ">

  <app-animation-menu></app-animation-menu>

  <div
    class=" font-raboto after2 fixed h-[100vh] w-full bg-[#00b89f] p-[7%] flex flex-col items-center justify-between">
    <div class="w-full flex items-center justify-between">
      <a href="../../../assets/pdf/Randriamihanta Judex.pdf" download="randriamihantaJudexCV.pdf"><button class="px-2 py-1 dark:bg-white bg-[#060717] text-[#00b89f] rounded-md z-50">CV <fa-icon
        [icon]="download"></fa-icon></button></a>
      <fa-icon (click)="etatMenu.chageMenuState()" [icon]="close"
        class="dark:text-white text-[#060717] text-2xl"></fa-icon>
    </div>

    <div  class="flex flex-col items-center justify-evenly w-full gap-4">

      <app-icon-menu (click)="closeIt()" routerLink="/home" [icon]="home" titre="Home" class="w-full dark:text-white text-[#060717]"></app-icon-menu>
      <app-icon-menu-reverse (click)="closeIt()" routerLink="/projects" [icon]="projects" titre="Projects" class="w-full dark:text-white text-[#060717]">
      </app-icon-menu-reverse>
      <app-icon-menu-reseau [icon]="lien" titre="Social Media"
        class="w-full dark:text-white text-[#060717] "></app-icon-menu-reseau>
      <app-icon-menu-reverse (click)="closeIt()" routerLink="/contact" [icon]="send" titre="Contact" class="w-full dark:text-white text-[#060717]">
      </app-icon-menu-reverse>
    </div>
    
    <div class="bg-red w-full flex flex-col items-center gap-2">
      <p class="text-[#060617] dark:text-white font-mont">Rate your experience on the portfolio.</p>
      <div class="flex items-center justify-center gap-2">
        <fa-icon [icon]="star" class="text-[#060617] dark:text-white text-3xl"></fa-icon>
        <fa-icon [icon]="star" class="text-[#060617] dark:text-white text-3xl"></fa-icon>
        <fa-icon [icon]="star" class="text-[#060617] dark:text-white text-3xl"></fa-icon>
        <fa-icon [icon]="star" class="text-[#060617] dark:text-white text-3xl"></fa-icon>
        <fa-icon [icon]="star" class="text-[#060617] dark:text-white text-3xl"></fa-icon>
      </div>
    </div>


  </div>
</div>