<div class="pt-[12vh] pb-[10vh] md:px-[25%]">
    <h1 class="font-mont text-[#00b89f] text-2xl mb-2">Contact</h1>
    <app-contact-form></app-contact-form>
    <p class="font-mont text-[#363636] w-full text-center mt-5">Or</p>
    <h1 class="font-mont text-[#00b89f] text-2xl mb-2 mt-3">Let's talk on</h1>
    <div class="flex justify-between  text-3xl dark:text-[#363636] text-white">
        <a href="https://www.facebook.com/profile.php?id=61550676083257"><fa-icon [icon]="messenger"></fa-icon></a>
        <a
            href=" https://www.linkedin.com/in/judex-randriamihanta-24b645235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><fa-icon
                [icon]="linkedIn"></fa-icon></a>
        <a href="https://discord.com/invite/PJvcvpWU"><fa-icon [icon]="discord"></fa-icon></a>
        <a href=""><fa-icon [icon]="insta"></fa-icon></a>
        <a href="mailto:randriamihantajudex@gmail.com"><fa-icon [icon]="gmail"></fa-icon></a>
    </div>
</div>