<div class="w-full mb-3">
    <div class="flex w-full items-center">
        <div class="bg-[#00b89f] h-3 w-3 rounded-full mr-2"></div>
        <p class="dark:text-[#363636] text-white text-xl mt-1">{{titre}}</p>
    </div>

    @if (titre==='Tools') {
    <div class="flex items-center pl-4">
        @for (img of skills; track $index) {
            <img class="h-8 w-8 mr-3 " [src]="img" alt="html">
        }
    </div>
    }
    @else {
    <div class="flex items-center pl-2">
        @for (img of skills; track $index) {
            <img class="h-12 w-12" [src]="img" alt="html">
        }

    </div>
    }



</div>