<div class="w-full md:z-50">
    <div class="flex flex-col text-white bg-[#363636] dark:text-white dark:bg-[#00b89f] items-center py-7 gap-1 ">
        <p class="font-mont">Let's talk on</p>
        <div class="flex flex-col gap-5">
            <div class="flex gap-4 text-2xl ">
                <a href="https://www.facebook.com/profile.php?id=61550676083257"><fa-icon [icon]="messenger"></fa-icon></a>
                <a href=" https://www.linkedin.com/in/judex-randriamihanta-24b645235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><fa-icon [icon]="linkedIn"></fa-icon></a>
                <a href="https://discord.com/invite/PJvcvpWU"><fa-icon [icon]="discord"></fa-icon></a>
                <a href=""><fa-icon [icon]="insta"></fa-icon></a>
                <a href="mailto:randriamihantajudex@gmail.com"><fa-icon [icon]="gmail"></fa-icon></a>
            </div>
            <a href="../../../assets/pdf/Randriamihanta Judex.pdf" download="randriamihantaJudexCV.pdf"><button class="dark:bg-white dark:text-[#00b89f] rounded-md bg-[#00b89f] p-1 text-white w-full">Download my cv</button></a>
            
        </div>
        
    </div>
    <div class="w-full dark:text-[#363636] text-white bg-[#00b89f] dark:bg-white flex justify-center items-center text-xs font-raboto">
            <p >Made with <fa-icon [icon]="flamme" class="text-red-500"></fa-icon> by Judex</p>
    </div>
</div>