.code {
    animation: disapear 0.5s infinite alternate;
}

@keyframes disapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.disapear{
    animation: disparaitre 0.8s forwards;
}

@keyframes disparaitre {
    0%{
        
    }
    100%{
        display: none;
    }
}