<div class="br1 bg-[#00b89f] h-[10%] fixed w-full"></div>
<!-- 2 -->
<div class="br2  h-[10%] top-[10%] absolute w-[60%] bg-[#00b89f]"></div>
<div class="br3  h-[10%] top-[10%] left-[60%] absolute w-[40%] bg-[#00b89f]"></div>
<!-- 3 -->
<div class="br2  h-[10%] top-[20%] absolute w-[40%]  bg-[#00b89f]"></div>
<div class="br3  h-[10%] top-[20%] left-[40%] absolute w-[60%] bg-[#00b89f]"></div>
<!-- 4 -->
<div class="br2  h-[12%] top-[30%] absolute w-[12%] bg-[#00b89f]"></div>
<div class="br3  h-[12%] top-[30%] left-[10%] absolute w-[90%] bg-[#00b89f]"></div>
<!-- 5 -->
<div class="br4  h-[12%] top-[40%] absolute w-full -mb-[1px] bg-[#00b89f]"></div>
<!-- 6 -->
<div class="br2  h-[12%] top-[50%] absolute w-[60%] bg-[#00b89f]"></div>
<div class="br3  h-[12%] top-[50%] left-[60%] absolute w-[40%] bg-[#00b89f]"></div>
 <!-- 7 -->
 <div class="br2  h-[10%] top-[60%] absolute w-[40%] bg-[#00b89f]"></div>
 <div class="br3  h-[10%] top-[60%] left-[40%] absolute w-[60%] bg-[#00b89f]"></div>
  <!-- 8 -->
<div class="br2  h-[10%] top-[70%] absolute w-[12%] bg-[#00b89f]"></div>
<div class="br3  h-[10%] top-[70%] left-[10%] absolute w-[90%] bg-[#00b89f]"></div>
  <!-- 9 -->
  <div class="br4  h-[12%] top-[80%] absolute w-full -mb-[1px] bg-[#00b89f]"></div>
    <!-- 10 -->
<div class="br2  h-[10%] top-[90%] absolute w-[12%] bg-[#00b89f]"></div>
<div class="br3  h-[10%] top-[90%] left-[10%] absolute w-[90%] bg-[#00b89f]"></div>
