<div class="md:hidden">
    <img class="cloud fixed grayscale z-20 w-[200px]"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[150px] -top-9 -left-7"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[400px] -left-32"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[200px] left-20 -top-14"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[300px] top-[20px] left-40"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[300px] top-[170px] left-40"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[300px] top-[270px] left-16"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[300px] top-[340px] left-56"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[300px] top-[500px] -left-20"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[250px] top-[250px] -left-20"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse fixed grayscale z-20 w-[250px] top-[430px] left-20"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[300px] top-40"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloudReverse cloudReverse2 fixed grayscale z-20 w-[450px] top-[500px] left-32"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed  grayscale z-20 w-[200px]"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">
    <img class="cloud fixed grayscale z-20 w-[200px] top-[400px] -left-12"
        src="https://www.pngarts.com/files/11/Akatsuki-Cloud-PNG-High-Quality-Image.png">

</div>