<form class="w-full flex flex-col items-center  font-raboto " [formGroup]="contactForm" (ngSubmit)="sendMessage()">
   <div #emailRef
      class="mb-1 w-full has-[:focus]:border-2 border-b-2 has-[:focus]:rounded-md border-[#00b89f] flex items-center focus:bg-red-600">
      <fa-icon [icon]="email"
         class="bg-white w-10 text-lg h-full text-[#a1a1a1] px-2 dark:bg-[#36363615] pt-1"></fa-icon>
      <input (keyup)="invalidity(emailsRef,userEmail)" formControlName="email"
         class="bg-white text-[#363636] dark:bg-[#36363615] focus:outline-none rounded-t-sm  w-full py-1"
         placeholder="JohnDoe@gmail.com" type="text" name="mail" id="mail">
   </div>
   @if (userEmail.invalid && (userEmail.dirty || userEmail.touched)) {
      @if (userEmail.hasError('required')) {
         <p class="w-full text-red-500 text-sm">This field is empty</p>
      }
      @if (userEmail.hasError('email')) {
         <p class="w-full text-red-500 text-sm">Email Invalid</p>
      }
   }
  

   <div #nomRef
      class="mt-4 mb-1 w-full  has-[:focus]:border-2 border-b-2 has-[:focus]:rounded-md border-[#00b89f] flex items-center ">
      <fa-icon [icon]="nom" class="bg-white w-10 text-lg h-full text-[#a1a1a1] px-2 dark:bg-[#36363615] pt-1"></fa-icon>
      <input (keyup)="invalidity(nomsRef,userNom)" formControlName="nom"
         class="bg-white text-[#363636] dark:bg-[#36363615] focus:outline-none rounded-t-sm  w-full py-1"
         placeholder="john doe" type="text" name="mail" id="mail">
   </div>
   @if (userNom.invalid && (userNom.dirty || userNom.touched)) {
      @if (userNom.hasError('required')) {
         <p class="w-full text-red-500 text-sm">This field is empty</p>
      }
      @if (userNom.hasError('minlength')) {
         <p class="w-full text-red-500 text-sm">Your name is too short</p>
      }
   }

   <div #messageRef
      class="mt-4 mb-1 w-full  has-[:focus]:border-2 border-b-2 has-[:focus]:rounded-md border-[#00b89f] flex items-center ">
      <fa-icon [icon]="messageIcon"
         class="bg-white w-10 text-lg h-full text-[#a1a1a1] px-2 dark:bg-[#36363615] pt-1"></fa-icon>
      <input (keyup)="invalidity(messagesRef,userMessage)" formControlName="message"
         class="bg-white text-[#363636] dark:bg-[#36363615] focus:outline-none rounded-t-sm  w-full py-1"
         placeholder="Hello" type="text" name="mail" id="mail">
   </div>
   @if (userMessage.invalid && (userMessage.dirty || userMessage.touched)) {
      @if (userMessage.hasError('required')) {
         <p class="w-full text-red-500 text-sm">This field is empty</p>
      }
      @if (userMessage.hasError('minlength')) {
         <p class="w-full text-red-500 text-sm">Send me more word please</p>
      }
   }

   <button  type="submit" class="w-full mt-2 font-mont py-2 px-20 rounded-md bg-[#00b89f] text-white">Envoyer</button>
   @if (invalidityForm()) {
      <p class="w-full text-red-500 text-sm mt-1">Empty field or invalid</p>
   }
</form>