:root{
    --couleur:red;
    --largeur:0px;
    --largeurTwo:0px;
}
.lineOne{
    animation: line ease-in-out forwards 1.3s ;
    animation-delay: 0.8s;
}
.lineTwo{
    animation: lineDeux ease-in-out forwards 1.1s ;
    animation-delay: 1.6s;


}

@keyframes line {
 0%{
    width: 0;
 }   
 100%{
    width: var(--largeur);
 }
}

@keyframes lineDeux {
    0%{
       width: 0;
    }   
    100%{
       width: var(--largeurTwo);
    }
   }



.titre{
   position: fixed;
   margin-top: -88vh;
   z-index: 19;
   margin-left:-10%;
   padding: 0 10%;
}   

.pinoccio{
   animation: lie 0.5s forwards;
}
@keyframes lie {
   0%{
      width: 24px;
   }
   100%{
      width: 50px;
      background-color: #00b89f;
   }
}