@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'futura';
    src: url("./assets/fonts/futura.otf");
}
@font-face {
    font-family: 'raboto';
    src: url("./assets/fonts/raboto.ttf");
}
@font-face {
    font-family: 'mont';
    src: url("./assets/fonts/mont.otf");
}
body{
    padding: 0 0;
}

